# Virtual environment
venv/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Uploaded research papers
data/uploads/

# Local vector database
faiss_index/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db