streamlit
pypdf
langchain
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
python-dotenv
pandas
scikit-learn
torch
torchvision